<div class="px-3">
  <h3>Editando Película</h3>
</div>

<%= render "form", movie: @movie %>

<br>

<div class="px-3">
  <%= link_to "Ver #{@movie.Name}", @movie, class: "btn btn-success" %> 
  <%= link_to "Volver al Listado", root_path, class: "btn btn-secondary" %>
</div>
